*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "'Microsoft YaHei','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
}
.btn{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(12,12,12,.3);
    border-radius: 3%;
    background: rgba(12,12,123,.3);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.m-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 200px;
    border: 2px solid rgba(12,12,12,.9);
    box-sizing: border-box;
    box-shadow: 2px 3px 5px rgba(12,12,12,.5);
}
.m-dialog-hd{
    width: 100%;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    text-indent: 20px;
    background-color: rgba(12,12,12,.3);
}
.m-dialog-hd-close{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.m-dialog-bd{
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
}
html .m-dialog--hide{
    display: none;
}
